body {
    background: linear-gradient(to right, #0f2027, #203a43, #2c5364);
    font-family: "Segoe UI", sans-serif;
    color: #333;
}

.container {
    width: 60%;
    margin: auto;
    background: #ffffff;
    padding: 40px;
    margin-top: 50px;
    border-radius: 12px;
    box-shadow: 0px 10px 40px rgba(0, 0, 0, 0.3);
}


h1 {
    text-align: center;
    color: #203a43;
}

.subtitle {
    text-align: center;
    margin-bottom: 30px;
    color: #555;
}

input,
textarea {
    width: 100%;
    padding: 12px;
    margin-top: 15px;
    border-radius: 6px;
    border: 1px solid #ccc;
    font-size: 14px;
}

textarea {
    height: 70px;
}


button {
    margin-top: 20px;
    width: 100%;
    padding: 14px;
    background: #203a43;
    color: white;
    border: none;
    border-radius: 6px;
    font-size: 16px;
    cursor: pointer;
}

button:hover {
    background: #0f2027;
}

.result {
    margin-top: 20px;
    padding: 18px;
    border-left: 6px solid #203a43;
    background: #f4f7fb;
    animation: fadeIn 0.4s ease-in-out;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(10px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}